.lg-breadcrumb {
  display: none;
}

.menu-subscribe-menu-container {
  display: none;
}

.menu-and-5yr {
  display: none;
}

@include media-breakpoint-up($nav-breakpoint-up) {
  .lg-breadcrumb {
    display: block;
    font-size: 12px;

  }
  .menu-subscribe-menu-container {
    display: block;
    font-size: 13px;

    ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
    }
  }

  .menu-and-5yr {
    display: flex;
  }
  .svg-5yr {
    width: 46px;
    margin-right: 5px;
    margin-top: 4px;

  }
}
