.wp-block-button__link {
  border-radius: 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.05em;
  padding: 9px 24px;
}

.is-style-outline .wp-block-button__link {
  border-width: 1px;

}
