#site-footer {
    $font-size: 14px;
    $mobile-font-size: 12px;
    font-size: $font-size;
    hr {
        margin-top: 0;
        margin-bottom: 0;
    }
    h2 {
        font-size: $font-size;
    }
    a {
        font-size: $font-size;
        &:hover {
            text-decoration: underline;
        }
    }
    ul {
        list-style: none;
        padding-left: 0;
    }
    background-color: rgba(32,32,32,1);
    @include media-breakpoint-down('sm'){
        font-size: $mobile-font-size;
        h2 {
            font-size: $mobile-font-size;
        }
        a {
            font-size: $mobile-font-size;
        }
    }
    #site-footer-main {
        background-color: transparent;
    }
    .footer-quick-links {
        $quick-link-text-color: rgb(177, 178, 180);
        color: $quick-link-text-color;
        $quick-link-spacing: 1rem;
        h2 {
            color: $quick-link-text-color;
            margin-bottom: $quick-link-spacing;
            @include media-breakpoint-up('md'){ 
                text-transform: uppercase;
            }
            i:before {
                color: $quick-link-text-color;
            }
        }
        section {
            ul {
                li {
                    margin-bottom: $quick-link-spacing;
                }
            }
        }
        @include media-breakpoint-down(sm){
            width: 100%;
            .footer-menu {
                padding-bottom: 1rem;
                &.show-links {
                    h2 {
                        .fa-plus {
                            display: none;
                        }
                        .fa-minus {
                            display: inline-block;
                        }
                    }
                }
                h2 {
                    .fa-minus {
                        display: none;
                    }
                }
                section {
                    display: none;
                    ul {
                        padding-left: 2rem;
                    }
                }
            }
            > div {
                width: 100%;
                h2 {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        @include media-breakpoint-up(md){
            > div:not(:first-child){
                padding-left: 3rem;
            }
            > div:not(:last-child){
                padding-right: 3rem;
            }
        }
        a {
            color: $quick-link-text-color;
        }
    }
    .footer-branding {
        $footer-branding-color: rgb(177, 178, 180);
        color: $footer-branding-color;
        a {
            color: $footer-branding-color
        }
        .fa-youtube {
            &:before {
                color: rgba(153,0,0,1);
            }
        }
    }
    .footer-legal {
        $footer-legal-text-color: rgb(140, 141, 143);
        border-top: 1px solid $footer-legal-text-color;
        border-bottom: 1px solid #000;
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 0;
            li {
                &:not(:first-child){
                    padding-left: 1rem;
                    border-left: 1px solid $footer-legal-text-color;
                }
                &:not(:last-child){
                    padding-right: 1rem;
                }
                a {
                    color: $footer-legal-text-color;
                 }
            }
        }
    }
    #footer-copyright {
        $footer-copyright-text-color: rgb(140, 141, 143);
        color:  $footer-copyright-text-color;
        a {
            color: $footer-copyright-text-color;
        }
    }
}