.utility-bar {
  display: none;
}

#site-header {
  .navbar {
    padding: 0 1rem .2rem 1rem;
  }

  .navbar-brand {
    text-align: center;

    img {
      width: 128px;
      margin: auto;
    }

    span {
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 600;
      display: block;

    }
  }

  .dropdown-menu {
    background-color: #fff;
  }
}

.main-navigation {
  .navbar {
    .navbar-nav {
      > li {
        font-weight: 600;
      }
    }

    .dropdown-item {
      font-weight: 600;
      background-color: #fff;
      color: theme-color('dark');
      position: relative;
    }

    .dropdown-submenu {
      > .dropdown-item {
        text-transform: uppercase;
      }
    }

  }
}

.hamburger {
  position: absolute;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  border-radius: 0;
  background-color: #000;
}

.hamburger.is-active {
  .hamburger-inner {
    background-color: #000;

    &:before, &:after {
      background-color: #000;
    }
  }
}

.hamburger__menu {
  font-size: 12px;
  font-weight: 600;
  color: #000;
  line-height: 1;

}

.right-menu-content {
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;

  a {
    color: #000;
  }
}

.watch-more-youtube {
  font-style: italic;

  .dropdown-item {
    font-weight: normal !important;
  }

  i {
    color: #c4302b;
    font-size: 1.5rem;
    vertical-align: middle;
  }
}


@include media-breakpoint-up($nav-breakpoint-up) {

  #site-header {
    .navbar-brand {
      padding: 0;
    }
  }
  .main-navigation {
    > .navbar {
      display: block !important;

      .navbar-nav {
        margin: auto;
        position: relative;

        .dropdown-menu.show {
          display: none;
        }

        .dropdown-submenu {
          > .dropdown-menu {
            display: block;
            position: static;
            border: 0;
            padding: 0 1rem 1rem;


            .dropdown-item {
              font-weight: normal;
            }

          }
        }

        > .nav-item {
          position: static;

          &:hover {
            > .nav-link {
              + .dropdown-menu {
                visibility: visible;
                opacity: 1;
              }
            }
          }

          &:first-child{
            > .dropdown-menu{
              &:after{
                content: "";
                position: absolute;
                width: 1px;
                top: 3%;
                left: 46%;
                height: 90%;
                background-color: #d9d9d9;
              }
            }
          }

          > .dropdown-menu {
            display: flex;
            flex-direction: column;
            visibility: hidden;
            opacity: 0;
            height: 575px;
            flex-wrap: wrap;
            width: 116%;
            left: -8%;
            border: 1px solid #000;
            border-radius: 0;
            transition: all 0.3s ease-in-out;
            padding: 1rem;


          }

          > .nav-link {
            &:after {
              display: none;
            }


          }
        }

        > .nav-item.videos-menu {
          position: relative;

          > .dropdown-menu {
            left: 0;
            width: 300px;
          }
        }


        .nav-link {
          padding-left: 1rem;
          padding-right: 1rem;
        }

      }

      .dropdown-item {
        &:after {
          display: none;
        }
      }
    }
  }

  .left-menu-content, .right-menu-content {
    flex: 0 0 40%;
  }

  .left-menu-content {
    padding-top: 4px;
  }

  .right-menu-content {
    position: static;
    text-align: right;

  }

  .header-top-wrapper {
    display: flex;
    padding-top: 1rem;
  }
}

@include media-breakpoint-down($nav-breakpoint-down) {

  .header-top-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .offcanvas-collapse {
    background-color: #fff;
    left: -100%;
  }
  .offcanvas-collapse.open {
    transform: translateX(100%);
  }

  .main-navigation {
    .navbar {
      .navbar-nav {

        //all dropdown menus{
        .dropdown-menu {
          margin: 0;
          padding: 0;
          border: 0;

          > li {
            > a {
              padding: .8rem .5rem;
            }
          }
        }

        > li {
          border-bottom: 1px solid #ababab;

          > a {
            padding: 1rem 0;
            border: 0;
          }
        }

        //hide PRODUCTS link for mobiles
        > li:first-child {
          border: 0;

          > a {
            display: none;
          }

          > .dropdown-menu {
            display: block;
            padding: 0;
            border: 0;

            > li {
              border-bottom: 1px solid #ababab;
              position: relative;

              > a {
                padding: 1rem 0;
                border: 0;
              }

              > .dropdown-menu {
                margin-bottom: 1rem;
              }
            }
          }
        }

        .dropdown-toggle {
          &:after {
            content: "+";
            margin: 0;
            padding: 0;
            border: 0;
            line-height: 1;
          }
        }

        .dropdown-toggle[aria-expanded="true"] {
          &:after {
            content: "\2013";
          }
        }
      }
    }
  }

  .dropdown-toggler {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: right;
    width: 30px;

    &:after {
      content: "+";
      margin: 5px 0 0 0;
      padding: 0;
      border: 0;
      font-size: 28px;
      display: block;
    }
  }
}
