.single-product {
  .btn-group {
    margin-bottom: 20px;

    .btn {
      border-radius: 0;
      font-size: 12px;
      box-shadow: none;
      margin-right: 10px;
      border: 1px solid #000;
      padding: 5px 8px;
      font-weight: normal !important;
      text-transform: uppercase;

      &:first-child {
        display: none;
      }
    }

    .btn-default.active {
      background-color: #D9D9D9;
    }
  }

  .variations {
    .label {
      display: none;
    }

    .value {
      select {
        visibility: hidden !important;
      }
    }
  }

  .product_meta {
    display: block !important;

    .sku_wrapper {
      font-weight: bold;
      color: theme-color('primary');

      .sku {
        font-weight: normal;
      }
    }

    .posted_in {
      display: none;
    }
  }

  .product_title {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 0;

  }
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
  color: theme-color('primary');
}

.reset_variations {
  display: none !important;
}


