.product-tabs {
  background-color: theme-color('primary');

  .tab-content {
    @extend .container;
  }
}

.product-tabs, .wp-block-lg-blocks-tabs {
  .nav-tabs {
    border: 0;

    .nav-item {
      margin-bottom: 0;
    }

    .nav-link {
      color: #fff;
      border: 0;
    }

    .nav-link.active {
      background-color: theme-color('primary');
      text-decoration: underline;
    }
  }
}

.product-tabs--sticky {

  position: sticky;
  top: 160px;
  transform: translateZ(0);
  z-index: 1;

  .nav-tabs {
    @extend .container;
  }
}

.product-tabs__content {
  clear: both;
}

.wp-block-lg-blocks-tabs {
  .nav-tabs {
    visibility: hidden;
    opacity: 0;
  }
}

.single-product .product {
  @extend .container;
}


