.search-form {
  label {
    width: 100%;
    position: relative;

    &:after {
      content: "\f002";
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1.6em;
      position: absolute;
      left: .5rem;
      font-size: 1rem;

      height: 24px;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }
  }
}

.search-submit {
  display: none;
}

.search-field {
  border: 1px solid #b1b2b4;
  padding: .5rem 1rem .5rem 2.5rem;
  width: 100%;
  max-width: 400px;
}

.country-switcher-wrap {
  .dropdown-toggle::after {
    display: none;
  }
}


.right-menu-links {
  > * {
    display: inline-block;
    vertical-align: middle;
  }
}


.wcpbc-country-switcher.country-switcher {
  position: absolute;
  right: -1000px;
}

.country-switcher-menu {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
  border-radius: 0;
  border: 0;
  padding: 0;

  .dropdown-item.active {
    background-color: theme-color('primary');
    color: #fff;
  }
}


@include media-breakpoint-up($nav-breakpoint-up) {
  .search-form {
    position: absolute;
    right: 1rem;
    top: 3.3rem;

  }
  .search-field {
    padding: .2rem 1rem .2rem 2.5rem;
    font-size: 14px;
  }

  .wcpbc-country-switcher.country-switcher {
    position: static;
    right: 0;
    font-size: 14px;
    border: 0;
    vertical-align: middle;
  }

  .country-switcher-wrap {
    display: none;
  }

  .right-menu-links {
    > * {
      vertical-align: top;
    }
  }
}

